#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  #projects-title{
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 30px;
  }