#leftAlign,
#work,
#about,
p {
  text-align: left;
}

a {
  margin-right: 5px;
}

#profile-pic {
  height: 300px;
  width: 300px;
}

#leftAlign{
    margin-bottom: 20px;
}

#top-row{
    margin-bottom: 50px;
}

#image{
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn-secondary{
  background-color:teal!important;
}

